<%= stylesheet_link_tag 'resend', :media => "all" %>

<div class="resend">
<br>
<br>
<br>
<br>
  <div class="resend_title">
    <h2>Resend confirmation instructions</h2>
  </div>

  <br>
  <div class="resend_info">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="resend_email">
        <%= f.label :email %><br />
        <div class="resend_email_box">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>

      <div class="resend_actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>
  </div>
</div>
<hr>

<div class="resend_extra">
  <%= render "users/shared/links" %>
</div>
