<%= stylesheet_link_tag 'log_in', :media => "all" %>

<br>
<br>
<div class="log_in">
  <div class="log_in_title">
    <h2>Log In</h2>
  </div>
  <br>
  <div class="log_in_subtitle">
    <p>※Please enter your email and password</p>
  </div>
  
  <br>
  <div class="log_in_info">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="log_in_email">
      <%= f.label :Email %><br />
      <div class="log_in_email_box">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="log_in_password">
      <%= f.label :Password %><br />
      <div class="log_in_password_box">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    <br>
    <% if devise_mapping.rememberable? %>
      <div class="remember_me">
        <%= f.check_box :remember_me %>
        <div class="remember_me_checkbox">
        <label class="ECM_CheckboxInput"><input class="ECM_CheckboxInput-Input" type="checkbox"><span class="ECM_CheckboxInput-DummyInput"></span><span class="ECM_CheckboxInput-LabelText">Remember Me</span></label>
        </div>
      </div>
    <% end %>
    <br>
    <br>
    <div class="log_in_actions">
      <%= f.submit "Log in" %>
    </div>
    <% end %>
  </div>
<div>
<br>
<hr>

<br>
<br>
<br>
<br>
<div class="log_in_extra">
  <%= render "users/shared/links" %>
</div>
