<%= stylesheet_link_tag 'index', :media => "all" %>

<%= form_tag({controller:"drinks",action:"index"}, method: :get) do %>
  <%= text_field_tag :search, '', {placeholder: "Look for drink", id: "sbox1"} %>
  <%= button_tag :type => "submit", style: 'border-style: none;' do %>
    <i class="fas fa-coffee"></i>
  <% end %>
<% end %>
<br>
<div class="paginate">
  <%= page_entries_info @drinks %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="drinks-container">
  <% @drinks.each do |t| %>
    <div class="drink">
      <div class="image-trim">
        <%= link_to (image_tag "#{t.image_url}"), drink_path(t.id), size: "250x200" if t.image? %>
      </div>
        <a href="/users/<%= t.user.id %>"><%= t.user.nickname %></a>
      <div class="icon">
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= link_to drink_like_path(id: t.id, drink_id: t.id), method: :delete do %>
            <i class="fas fa-heart faa-tada animated"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= link_to drink_likes_path(id: t.id, drink_id: t.id), method: :post do %>
            <i class="far fa-heart faa-tada animated"></i><%= t.likes.count %>
          <% end %>
         <% end %>
        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        <i class="far fa-comment"></i><%= t.comments.count %>
      </div>

    </div>

  <% end %>

  <%= paginate @drinks %>

</div>
