<%= stylesheet_link_tag 'new', :media => "all" %>
<div class="new_drink_container">
    <p class="title">New Drink</p>
    <%= form_for @drink do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name, :size => 30 %>
    <br>
    <%= f.label :shop %>
    <%= f.select :shop, 
    [["スターバックス", "スターバックス"], 
    ["タリーズ", "タリーズ"], 
    ["ドトール", "ドトール"]], include_blank: "選択して下さい" %>
  　<br>
    <%= f.label :base %>
  　<%= f.text_field :base, :size => 30 %>
    <br>
    <%= f.label :about %>
    <%= f.text_field :about, :size => 30 %>
    <br>
    <%= f.label :recipe %>
    <%= f.text_area :recipe, :size => 30 %>
    <br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
  <%= f.submit "Post" %>
  <br>
<% end %>
</div>

<%= link_to "投稿一覧に戻る", drinks_path %>