<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="new_drink">
<br>
<br>
<br>
  <div class="new_drink_title">
  <h2>New Drink</h2>
  </div>
  <br>
  <br>
  <div class="new_drink_info">
    <%= form_for @drink do |f| %>
    
      <div class="new_drink_name">
        <%= f.label :name %>
        <div class="new_drink_name_box">
          <%= f.text_field :name, :size => 30 %>
        </div>
      </div>
      <br>
      <div class="new_drink_shop">
        <%= f.label :shop %>
        <div class="new_drink_shop_box">
          <%= f.select :shop, 
          [["スターバックス", "スターバックス"], 
          ["タリーズ", "タリーズ"], 
          ["ドトール", "ドトール"],
          ["その他", "その他"]], include_blank: "選択して下さい" %>
        </div>
      </div>
      <br>
      <div class="new_drink_base">
        <%= f.label :base %>
        <div class="new_drink_base_box">
          <%= f.text_field :base, :size => 30 %>
        </div>
      </div>
      <br>
      <div class="new_drink_about">
        <%= f.label :about %>
        <div class="new_drink_about_box">
          <%= f.text_field :about, :size => 30 %>
        </div>
      </div>
      <br>
      <div class="new_drink_recipe">
        <%= f.label :recipe %>
        <div class="new_drink_recipe_box">
          <%= f.text_area :recipe, :size => 30 %>
        </div>
      </div>
      <br>
      <div class="new_drink_image">
      <%= f.label :image %>
        <div class="new_drink_image_box">
          <%= f.file_field :image, {placeholder: "Select Image"} %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="new_drink_button">
        <%= f.submit "Post" %>
      </div>
    <br>
  <% end %>
</div>
<br>
<br>
<hr>

<br>
<br>
<br>
<div class="new_drink_home_button">
  <%= link_to "HOME", drinks_path %>
</div>
<br>