<% if @user.avatar? %>
  <%= image_tag @user.avatar.url %>
<% else %>
  <%= image_tag ("noavatar.jpg"), size: "250x200" %>
<% end %>

<p>名前 : <%= @user.nickname %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<p><%= @user.nickname %>さんの投稿一覧</p>
<% @user.drinks.each do |t| %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.name %>
      <%= t.shop %>
      <%= t.base %>
      <%= t.about %>
      <%= t.recipe %>
      <%= t.created_at %>
<% end %>

<p><%= @user.nickname %>さんのいいねした投稿一覧</p>
<% @user.liked_drinks.each do |t| %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.name %>
      <%= t.shop %>
      <%= t.base %>
      <%= t.about %>
      <%= t.recipe %>
      <%= t.created_at %>
<% end %>
<!-- ここまで-->

<%= link_to "HOME", drinks_path %>