<%= stylesheet_link_tag 'show', :media => "all" %>

<div class="mypage">
      <div class="user_info">
            <% if @user.avatar? %>
                  <%= image_tag @user.avatar.url %>
            <% else %>
                  <%= image_tag ("noavatar.jpg"), size: "250x200" %>
            <% end %>

            <p>Name : <%= @user.nickname %></p>
            <p>Mail : <%= @user.email %></p>
            <p>About : <%= @user.profile %></p>

            <% if current_user.id == @user.id %>
                  <%= link_to "編集する", edit_user_registration_path %>
            <% end %>
      </div>

      <div class="all_posts">
            <p>All Posts</p>
            <% @user.drinks.each do |t| %>
                  <div class="image">
                        <%= link_to (image_tag "#{t.image_url}"), drink_path(t.id), size: "250x200" if t.image? %>
                  </div>
            <% end %>
      </div>

      <div class="liked_posts">
            <p>Liked Posts</p>
            <% @user.liked_drinks.each do |t| %>
                  <div class="image">
                        <%= link_to (image_tag "#{t.image_url}"), drink_path(t.id), size: "250x200" if t.image? %>
                  </div>
            <% end %>
      </div>
</div>

<%= link_to "HOME", drinks_path %>